
  span{
    height: 50px;
    width: 98%;
    border: 4px solid white;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.374);
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
justify-content: flex-start;
color: black;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 40px rgba(0, 0, 0, 0.2);

}

.div_1{
  display: flex;
  justify-content: center;
  align-items: center;
  }

ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    height:100%;
    align-items: center;
   list-style: none;
   margin:1% ;
   font-size: 22px;
   font-weight: 500;
margin-left: 20%;
}
ul a:hover {
width: 40%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.408);
height: 100%;
transition: 1ms;
transform: scale(1.02);
text-decoration: none;
}
ul a {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 100%;
text-decoration: none;

    }
  #main_logo{
    font-size: 45px;
    margin-left: 3%;
  }



  /* ye skill section css */

  .box{
    height: 67%;
    width: 23%;
   padding-bottom: 10px;
    border: 12px solid black;
    box-shadow: 0px 14px 18px black,
                 0px 5px 18px   black inset ;

    padding:25px ;
    overflow: hidden;
    color: black;
}

.round ,.round-1, .round-2{

  height: 100px;
    width: 100px;
    margin-top: -10px;
    


}
.box:hover{
  
  color: black;
  
}
.box-1:hover{
  color: black;
}
.box-2:hover{
  color: black;
}
.box:hover #icon{
    box-shadow: 0px 0px 0px  700px wheat ;
    transition: 1.5s;
   transform: rotateY(360deg);
 background-color:white;
 color: black;

}

.box-1:hover #icon-1{
  box-shadow: 0px 0px 0px  700px wheat;
  transition: 1.5s;
 transform: rotateX(360deg);
 background-color:white;

}

.box-2:hover #icon-2{
  box-shadow: 0px 0px 0px  700px wheat;
  transition: 1.5s;
 transform: rotateZ(360deg);
 background-color:white;
}
#icon
{
  height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
   border-radius: 50%; 
   transition: 1s;
   
}

.box-1{

    height: 67%;
    width: 23%;
   padding: 40px  25px 30px  ;
   padding-bottom: 20px;
    
   border: 12px solid black;
   box-shadow: 0px 14px 18px black,
               0px 5px 18px  black inset ;
    display: flex;
    padding-bottom: 10px;
    overflow: hidden;

}


.box-2{
    height: 67%;
    width: 23%;
    

   
    border: 12px solid black;
    box-shadow: 0px 14px 18px black,
                0px 5px 18px  black inset ;
   
    display: flex;
   
    overflow: hidden;
    padding:25px  ;
}

.main{

    height: 600px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6%;
    
  }
  .main1{

    height: 600px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(./images/pngtree-geometric-pattern-white-gold-minimalist-creative-background-image_879782.jpg);
    background-repeat: no-repeat;
    background-position: center;
 background-size: cover;
margin-top: -15px;
}

#icon-1
{
  height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
   border-radius: 50%; 
   transition: 1s;
   margin-top: -20px;
   
}

#icon-2
{
  height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
   border-radius: 50%; 
   transition: 1s;
   
}
#read{
  font-size:20px ;
  font-weight: 400;
  text-decoration: none;
  color: black;
  background-color:white ;
  position: absolute;
  border: 2px solid black;
  padding: 4px 7px 4px 7px;
  box-shadow: 0px 2px 4px;
 
}
#read:hover{
  transform: scale(1.14);
 transition: 1s;
 transition-delay: 0.1s;

}
h1{
 position: relative;
 top: -10px;
  
}
#skill_info{
  position: relative;
 font-size: 17px; 
 width: 200px;
 margin-top: -30px;
}



.both_content{
    height: 100%;
   width: 100%;
   background-image: url(./images/pngtree-geometric-pattern-white-gold-minimalist-creative-background-image_879782.jpg);
   background-repeat: no-repeat;
   background-position: center;
background-size: cover;
margin-top: -2%;
}
.left_div{
    height: 100%;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:transparent;
    color: black;
   z-index: 2;
}
.box1{
  height: 300px ;
  width: 700px;
  margin-left: 5%;

}
.typing-animation {
    overflow: hidden;
color:black;
  filter: drop-shadow(0px 0px 10px rgb(255, 166, 0));
    white-space: nowrap; 
    font-size: 24px;
    animation: typing 5s steps(100, end), blink-caret .5s step-end infinite;
  }


  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  
  #text_images{
    height: 70%;
    width: 50%;
    background-image: url(./images/question-mark-1019993_640.webp);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
animation: opacity_manage ease forwards 3s 1;
display: none;
}
 #text_images2{
  height: 70%;
  width: 50%;
position: absolute;
top:22%;
left: 50%;
background-image: url(./images/business-background-sketch-vector-doodle-260nw-2331059149.webp);
  background-size: contain;
background-position: center center;
background-repeat: no-repeat;
animation: opacity_manage ease forwards 3s 1;
display: none;
}
@keyframes  opacity_manage {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
.img_div{
    height:400px;
    width: 400px;
    border: 29px solid wheat;
    border-radius: 50%;
background-image: url(./images/IMG_20240617_141024.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center 30%;
box-shadow: 5px 5px 10px black,
            5px 5px 10px black inset;
}
.logo{
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    font-size: 58px;
    display: none;

}
.logo_after{
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    font-size: 58px;
    animation: opacitys forwards ease 2s 1 ;

}
@keyframes opacitys {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }    
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.div:hover{
background-color: wheat;
transform: scale(1.1);
transition: 1s;
border-radius: 40%;

}
.div{
    color: black;
}

.skill{
    position: absolute;
    top: 80%;
    font-size: 50px;

}

@media (max-width: 768px) {
   
  body,html {
      height: 100vh;
      width: 100%;
  overflow-y: hidden;
  }
  .main{
    border: none;
height: 70vh;
  }
  span {
      height: 19%;
      width: 92%;
      justify-content: center;
      display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the left */
    }
  
  ul{
      display: flex;
      width: 100%;
      height: 20%;
      margin-left: -10%;
       align-items: baseline;
    }
    #main_logo {
        margin-bottom: 10px;
    }
  
    h1 {
        margin-left: 0;
    }
  
    nav {
        width: 100%; /* Full width */
    }
  
    nav ul {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
    }
  
    nav ul li {
        margin: 10px 0;
    }
    li{
      border: 2px solid black;
    width:100% ;
    
    font-size:18px ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black,
                5px 5px 10px white inset;
    color: black;
    border-radius: 10px;
    }
    ul li:nth-child(2){
 width: 200px;
    }
    ul a{
      height: 0%; 
     }
   
    .div_1{
        margin-left: 20%;
    }



    /* after nav list */


    .content{
        font-size: 15px;
    }
  .load{
      width: 250px;
      height: 250px ;
  }
  .loader_after{
      height: 68%;
      margin-top: 0%;
      border: none;
  
  }
  #current_table{
      margin-top:36%;
      height: 40%;
      
  }
  .generate_div2{
      display: flex;
      height: 17%;
      margin-bottom: 10%;
      margin-top:10%;
      
  }
  .key{
      height: 100%;
      font-size: 20px;
  }
  .date_display{
      width: 40%;
      height: 100%;
  }
  #date_show_in_both_section{
      font-size: 34px;
      left: 30%;
      top: 13%;
  }
  .both_content{
    display: flex;
    flex-direction: column;
  }
  .img_div{
    height: 150px;
    width: 150px;
    margin-left: -17%;
    margin-top: 42%;
  }
  .logo_after{
    margin-left: 10%;
  }
  .box1{
    height: 80vh;
    width: 55vh;
    margin-left: 20%;
    margin-top: 5%;
  }
  #sub_heading{
      width: 84%;
      font-size: 16px;
      margin-left: 10%;
  }
  .typing-animation{
  font-size: 14px;
  }
  .left_div{
flex-direction: column;

}
  #heading_thought{
      font-size: 21px;
      margin-bottom: 5%;
  }

  @keyframes expand_height {
      0%{
          height:0% ;
      }
      100%{
          height: 36%;
      }
      
  }
   #section2{
    display: none;
  }
}

 


   


  