#abc{
    height: 100vh;
    width: 100%;
    border:2px solid black;
    margin-top: 100px;
}
.main{
    height:100vh ;
    width: 100%;
    border: 2px solid white;
    color: white;
    display: flex;
 justify-content: center;
 align-items: center;
border: 2px solid black;


}
.main::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 10%;
    background-image: url(./images/close-up-woman-working-laptop_23-2149300650.avif);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(2px);
    position: absolute;
}
body {
    margin: 0;
    padding: 0;
 overflow-x: hidden;
  }


  span{
    height: 50px;
    width: 98%;
    border: 4px solid white;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.374);
    position: absolute;
    top: 10px;
    left: 10px;
justify-content: flex-start;
color: black;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 40px rgba(0, 0, 0, 0.2)


}

ul{
    display: flex;
    width: 35%;
    justify-content: space-between;
    height:100%;
    align-items: center;
   list-style: none;
   margin:1% ;
   font-size: 22px;
   font-weight: 500;
   margin-right: 7%;

}
ul a:hover {
width: 40%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.408);
height: 100%;
transition: 1ms;
transform: scale(1.02);
text-decoration: none;
}
ul a {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 100%;
text-decoration: none;

    }
  #main_logo{
    font-size: 45px;
    margin-left: 3%;
  }

#date_miss{
    height:50% ;
    width: 45%;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.374);
    flex-direction: column;
    overflow-y: scroll;
padding: 20px 0px 20px 0px;
border-radius: 20px;
position: absolute;
display: none;
z-index: 1;

 
}
.current_table{
    height:60% ;
    width: 45%;
    border: 2px solid white;
    color: white;
overflow-y: scroll;
padding: 20px 0px 20px 0px;
border-radius: 20px;
    flex-direction: column;
    margin-top: 100px;
position: absolute;
top: 7%;
background-color: rgba(0, 0, 0, 0.317);
z-index: 1;
animation: wide 3s forwards ease 1;
display: none;

}
@keyframes wide {
    100%{
        width: 90%;
    }
    
}
.generate_div1{
    height: 14%;
    width: 82%;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
display: flex;
align-items: center;
text-decoration: line-through;
margin-bottom: 10px;
margin-left:10% ;
transition-duration: 1s;
box-shadow: 5px 10px 6px rgba(255, 255, 255, 0.481); 
margin-bottom: 20px;
}
.generate_div2:nth-child(2){
    transition: 2s;
    animation: first 2s 1 ease forwards;
}

@keyframes first {
    0%{background-color: gray;
       transform: scale(1.0);

    }
    100%{
    background-color: orange;
    transform: scale(1.1);
    }
    
}



.generate_div2{
    height: 14%;
    width: 82%;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
display: flex;
align-items: center;
margin-bottom: 10px;
    margin-left: 10%;
transition: 1s;
margin-bottom: 20px;
box-shadow: 5px 10px 6px rgba(255, 255, 255, 0.481); 



}
.generate_div1:hover{
    transform: scale(1.1);
    transition-duration: 1s;
 cursor: pointer;
 color: rgba(255, 0, 0, 0.715);
}
.generate_div2:hover{
    transform: scale(1.1);
    transition-duration: 1s;
 cursor: pointer;
}
.key{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size:28px ;
    border: 2px solid rgb(0, 0, 0);
}
.content{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:start;
    font-size:20px ;
    font-weight: 600;
   margin-left: 20px;    
}
.content_after{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:start ;
    font-size:20px ;
    animation: contant ease 2s 1 forwards;
}
@keyframes contant {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


#butn{
    transform: translateX(-20px); 
    color: white;
    background-color: rgb(0, 0, 0);
    border:white;
    cursor: pointer;
    height: 70%;
    width: 20%;
    font-size: 24px;
    border-radius: 100px;
    font-weight: 500;
    box-shadow: 5px 5px 20px white;
    border: 2px solid white;

}
#butn:hover{
    scale: 1.1;
    transition: 1s;
}
.date {
    margin-left: 50px ;
    
}
.loader{
    position: absolute;
    height: 80vh;
    width:96%;
display: flex;
align-items: center;
justify-content: center;
display: none;

}
.loader_after{
    position: absolute;
    height: 80vh;
    width:96%;
display: flex;
align-items: center;
justify-content: center;
animation: hides 2s 1 ease forwards;
}
@keyframes hides {
   
    100%{
visibility: hidden;
    }
    
}
.load{
    height: 400px;
    width: 400px;
    border: 19px solid white;
    border-radius: 50%;
    border-color: rgb(159, 157, 157);
    border-right-color:blue ;
    animation: rotate infinite 1s ease ;

}
@keyframes rotate  {
    100%{
        transform: rotateZ(360deg);
    }
    
}
.heading_current_task{
    height: 20%;
    width: 100%;
    background-color: white;
    margin-top:-20px ;
    border:4px solid black ;
    border-bottom:none ;
    border-radius: 20px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
    animation: expand_height 5s forwards 1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    overflow: hidden;
    
}
@keyframes expand_height {
    0%{
        height:0% ;
    }
    100%{
        height: 30%;
    }
    
}
#heading_thought{
    color: black;
    font-size: 40px;
    margin-top: 2%;
    margin-bottom: 5%;

}
#sub_heading{
    color: black;
    font-size: 28px;
   
}
.date_display{
    height: 100%;
    width: 20%;
    border: 2px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#date_show_in_both_section{
    height: 10%;
    width: 15%;
    position: absolute;
    right: 2%;
    color: black;
font-size: 40px;
}



.div_1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



@media (max-width: 768px) {
   
    body,html {
        height: 76vh;
        width: 100%;
    overflow-y: hidden;
    }
    .main{
      border: none;
height: 70vh;
    }
    span {
        height: 19%;
        width: 92%;
        justify-content: center;
        display: flex;
          flex-direction: column; /* Stack elements vertically */
          align-items: flex-start; /* Align items to the left */
          background-color: white;
      }
    
    ul{
        display: flex;
        width: 100%;
        height: 20%;
        margin-left: -10%;
         align-items: baseline;
      }
      #main_logo {
          margin-bottom: 10px;
      }
    
      h1 {
          margin-left: 0;
      }
    
      nav {
          width: 100%; /* Full width */
      }
    
      nav ul {
          flex-direction: column; /* Stack items vertically */
          align-items: center; /* Center align items */
      }
    
      nav ul li {
          margin: 10px 0;
      }
      li{
        border: 2px solid black;
      width:100% ;
      
      font-size:18px ;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 5px 5px black,
                  5px 5px 10px white inset;
      color: black;
      border-radius: 10px;
      }
      ul li:nth-child(2){
   width: 200px;
      }
      ul a{
        height: 0%; 
       }
      #butn{
         
          margin-left: 38%;
          width: 40%;
          font-size: 13px;
          height: 20%;
          border-color: orange;
         

          
      }
      .div_1{
          margin-left: 20%;
      }



      /* after nav list */


      .content{
          font-size: 15px;
      }
    .load{
        width: 250px;
        height: 250px ;

    }
    .loader_after{
        height: 68%;
        margin-top: 35%;
        border: none;
    
    }
    #current_table{
        margin-top:36%;
        height: 40%;
        
    }
    .generate_div2{
        display: flex;
        height: 17%;
        margin-bottom: 10%;
        margin-top:10%;
        
    } #date_miss{
        margin-top:38%;
        
    }
    .key{
        height: 100%;
        font-size: 20px;
    }
    .date_display{
        width: 40%;
        height: 100%;
    }
    #date_show_in_both_section{
        font-size: 34px;
        left: 30%;
        top: 1%;
    }
    #sub_heading{
        width: 84%;
        font-size: 16px;
        margin-left: 10%;
    }
    .content_after{
        font-size: 13px;
    }
    }
    #heading_thought{
        font-size: 21px;
        margin-bottom: 5%;
    }
    .main::before{
        width: 100vw;
        height: 81vh;
  background-repeat: no-repeat;
  background-size: auto;
 
     }
 
 
        
    @keyframes expand_height {
        0%{
            height:0% ;
        }
        100%{
            height: 28%;
        }
        
        
    }

    


       
   
    

